.container-lista{
    background-color: #363636;
    height: 100vh;
}
.productos-carro{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.productos-carro div{
    margin-bottom: 10px;
    color: white;
    font-weight: bolder;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    padding-left: 5px;
}
.productos-carro div button{
    background-color:rgb(161, 161, 161);
    color: rgb(0, 0, 0);
    border: solid 1px hsl(171, 70%, 69%);
    border-radius: 10px;
    padding: 0 12px 0 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
}
.productos-carro div button:hover{
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(228, 86, 86);
    color: rgb(255, 255, 255);
}
.container-lista h3{
    border: 1px solid white;
    margin: 15px 40% 15px 40%;
    border-radius: 20px;
    font-weight: bolder;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    align-items: center;
    color: white;
}


.boton-limpiar{
    font-size: medium;
    padding: 5px;
    width: 340px;
    margin-left: 40%;
    margin-top: 15px;
    background-color:rgb(161, 161, 161);
    color: rgb(0, 0, 0);
    border: solid 1px hsl(171, 70%, 69%);
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.boton-limpiar:hover{
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(228, 86, 86);
    color: rgb(255, 255, 255);
}

.checkout-carrito{
    font-size: medium;
    padding: 5px;
    margin-top: 15px;
    background-color:rgb(161, 161, 161);
    color: rgb(0, 0, 0);
    border: solid 1px hsl(171, 70%, 69%);
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-right: 45%;
}
.checkout-carrito:hover{
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(228, 86, 86);
    color: rgb(255, 255, 255);
}